<%- include('inc/_header') %>
<link rel="stylesheet" href="style.css" />
<body>
  <%- include('inc/_menu') %>
  <main>
    <div class="memberList-wrap">
      <div class="list-top">
        <div class="list-top-left"><h2>게시판</h2></div>
        <form action="/searchboard" method="get" name="">
          <div class="list-top-right">
            <div class="memlist-select-wrap">
              <select name="searchboard">
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="writer">작성자</option>
                <option value="regdate">작성일</option>
              </select>
            </div>
            <div class="memlist-input-wrap">
              <input type="text" name="boardSearchInput" id="boardSearch" />
            </div>
            <div class="memlist-btn-wrap">
              <button type="submit" onclick="empty(event);">검색</button>
            </div>
          </div>
        </form>
      </div>
      <div class="board-main">
        <table>
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Writer</th>
            <th>Date</th>
            <th>Update/Delete</th>
          </tr>
          <% if(result == "") {%>
          <td colspan="5">
            <div class="board-no-mem">작성된 게시물이 없습니다.</div>
          </td>
          <%}else {%> <% for(let i=0; i< result.length; i++){%>
          <tr>
            <td><%= result[i].idx%></td>
            <td>
              <a href="/boardView/<%= result[i].idx %>"
                ><%= result[i].title%></a
              >
            </td>
            <td><%= result[i].writer%></td>

            <td><%= result[i].regdate%></td>
            <td>
              <div class="memList-updel-wrap">
                <button id="updateBtn">
                  <a href="/updateBoard/<%= result[i].idx%>"
                    ><i class="fa-regular fa-pen-to-square"></i
                  ></a>
                </button>
                <button>
                  <a
                    href="/delBoard/<%= result[i].idx %>"
                    onClick="return confirm('삭제하시겠습니까?')"
                    ><i class="fa-solid fa-trash"></i
                  ></a>
                </button>
              </div>
            </td>
          </tr>
          <% }}%>
        </table>
      </div>
      <form action="/write">
        <div class="bordlist-bottom">
          <button>글쓰기</button>
        </div>
      </form>
    </div>
  </main>
</body>
<script>
  function empty(e) {
    if (document.getElementById("boardSearch").value == "") {
      e.preventDefault();
      alert("검색어를 입력해주세요");
    }
  }
</script>
