<%- include('inc/_header') %>
<link rel="stylesheet" href="../style.css" />
<body>
  <%- include('inc/_menu') %>

  <main>
    <form
      action="/updateBoard"
      method="post"
      autocomplete="off"
      id="updateform"
    >
      <div class="write-wrap">
        <div class="write-input-wrap">
          <div class="label-wrap"><label>제목:</label></div>
          <div class="write-input">
            <input
              type="text"
              id="updatepw"
              name="uptitle"
              value="<%= result[0].title %>"
            />
            <small></small>
          </div>
        </div>

        <div class="write-input-wrap">
          <div class="label-wrap"><label>작성일:</label></div>
          <div class="write-input">
            <span><%=result[0].regdate%></span>
            <small></small>
          </div>
        </div>

        <div class="write-input-wrap">
          <div class="label-wrap"><label>작성자:</label></div>
          <div class="write-input">
            <input
              type="hidden"
              id="updateid"
              name="upwriter"
              value="<%= result[0].writer %>"
            />
            <span><%=result[0].writer%></span>
          </div>
        </div>

        <div class="write-input-wrap">
          <div class="label-wrap"><label>내용:</label></div>
          <div class="write-input">
            <textarea type="text" id="updateBoardname" name="upcontent">
              <%= result[0].content%>
            </textarea>
          </div>
        </div>

        <div class="write-btn-wrap">
          <input
            type="submit"
            value="수정"
            id="submitbtn"
            class="write-sub-btn"
          />
        </div>
      </div>
    </form>
  </main>
</body>
