<%- include('inc/_header') %>
<link rel="stylesheet" href="../style.css" />
<body class="scrock">
  <div class="view-background"></div>
  <div class="view-total-wrap update-total-wrap">
    <div class="userUpdateTitle">
      <h2>사용자 정보 수정</h2>
    </div>
    <div class="updateUserInputWrap">
      <form
        action="/updateUser"
        method="post"
        autocomplete="off"
        id="updateform"
      >
        <div class="updateUserIdWrap updateWrapCommon">
          <div class="inputIdLabel"><label>아이디</label></div>
          <div class="inputWrap">
            <input
              type="hidden"
              id="updateid"
              name="upid"
              value="<%= result[0].id %>"
            />
            <div><%= result[0].id %></div>
          </div>
        </div>

        <div class="updateUserPwWrap updateWrapCommon">
          <div class="inputPwLabel"><label>비밀번호</label></div>
          <div class="inputWrap">
            <input
              type="password"
              id="updatepw"
              name="upPw"
              value="<%= result[0].pw %>"
            />
            <small></small>
          </div>
        </div>

        <div class="updateUserNameWrap updateWrapCommon">
          <div class="inputNameLabel"><label>이름</label></div>
          <div class="inputWrap">
            <input
              type="text"
              id="updatename"
              name="upName"
              value="<%= result[0].name %>"
            />
          </div>
        </div>
        <div class="updateUserEmailWrap updateWrapCommon">
          <div class="inputEmailLabel"><label>이메일</label></div>
          <div class="inputWrap">
            <input
              type="text"
              id="updateemail"
              name="upEmail"
              value="<%= result[0].email %>"
            />
          </div>
        </div>

        <div class="flexclass updateUserBtnWrap">
          <button type="submit">
            <i class="fa-regular fa-floppy-disk"></i>
          </button>
        </div>
      </form>
      <div class="memlistBtn">
        <a href="/memlist"><i class="fa-solid fa-list iconss"></i></a>
      </div>
    </div>
  </div>
</body>
