<div class="backDrop"></div>
<div class="loginModal invisible">
  <h2>사용자 수정</h2>
  <form action="/list" method="post" autocomplete="off">
    <input type="hidden" name="idx" value="<%= result[0].idx %>" />
    비밀번호<input
      type="text"
      name="passwd"
      value="<%= result[0].passwd %>"
    /><br />
    이름
    <input type="text" name="name" value="<%= result[0].NAME %>" /><br />
    전화번호
    <input type="text" name="phone" value="<%= result[0].phone %>" /><br />
    사용자 등급<input
      type="text"
      name="grade"
      value="<%= result[0].grade %>"
    /><br />
    이메일<input type="text" name="email" value="<%= result[0].email %>" />
    <input type="submit" value="저장" />
  </form>
</div>
